<%- include('../partials/header') %> 

<form action="/groups/<%= group._id %>?_method=PUT" method="post">

  <label for="name">Group name</label>
  <input type="text" name="name" id="name" value="<%= group.name %>">

  <label for="desc">Description</label>
  <textarea name="desc" id="desc" cols="30" rows="2"><%= group.desc %></textarea>

  <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %> 