<%- include('../partials/header') %> 

<% if (groups.length){ %>
  <h1>Your groups</h1>
  <% for (let group of groups) { %> 
    <a class="group" href="/groups/<%= group._id %>">
      <h2><%= group.name %></h2>  
      <p class="subhead"><%= group.desc %></p>
      <p>Group members: <%= group.users.map(user => user.name).join(", ") %> </p>
    </a>
<% }
}
else{ %>
  <h1>Looks like you're new here!</h1>
  <h2>Create a group</h2>
  <%- include('../partials/groups/new') %> 
<% } %>

<%- include('../partials/footer') %> 