<%- include('../partials/header') %> 

<div id="group-header">
  <small>Group:</small>
  <h1><%= group.name %> </h1>
  <p class="subhead"><%= group.desc %> &nbsp;
    <% if (group.owner._id.equals(user._id)){ %>
      <button class="small" onclick="document.getElementById('delete-group').classList.add('modal')">Delete</button>
      <button class="small" onclick="document.getElementById('group-header').remove()">Edit</button>
    <% } %> 
  </p>
</div>

<%- include('../partials/groups/edit') %> 
<%- include('../partials/groups/delete') %>

<p>Group members: <%= group.users.map(user => user.name).join(", ") %> </p>
<% if (group.owner._id.equals(user._id)){ %>
  <h4>You are the group admin</h4>
  <%- include('../partials/groups/invite') %>
<% }
else{ %>
  <p>Group admin: <%= group.owner.name %> </p>
<% } %> 
<% if (group.owner._id.equals(user._id) && group.invites.length){ %>
  <p>Outstanding invites:
    <%- group.invites.map(e => `<a href="mailto:${e.email}">${e.email}</a>`).join(", ") %> 
  </p>
<% } %>

<%# Only show the new gift list form if the user doesn't have one already %> 
<% if ( ! group.giftLists.some( list => list.user._id.equals(user._id) )){ %> 
  <%- include('../partials/gift-lists/new') %> 
<% } %> 
<%- include('../partials/gift-lists/show', {lists: group.giftLists, user}) %> 

<%- include('../partials/footer') %> 