<%- include('../partials/header') %> 
<div id="group-header">
  <small>Group:</small>
  <h1><%= group.name %> </h1>
  <p class="subhead"><%= group.desc %> 
    <button class="small" onclick="document.getElementById('group-header').remove()">Edit</button></p>
</div>

<form id="edit-group" action="/groups/<%= group._id %>?_method=PUT" method="post">

  <label for="name" class="input-sizer" data-value="<%= group.name %>">
    <span>Group:</span>
    <textarea name="name" id="name" oninput="this.parentNode.dataset.value = this.value" rows="1"><%= group.name %></textarea>
  </label>

  <label for="desc" class="input-sizer" data-value="<%= group.desc %>">
    <span>Description:</span>
    <textarea name="desc" id="desc" oninput="this.parentNode.dataset.value = this.value" rows="1"><%= group.desc %></textarea>
  </label>

  <button type="submit">Update</button>
</form>


<p>Group members: <%= group.users.map(user => user.name).join(", ") %> </p>
<% if (group.owner._id.equals(user._id)){ %>
  <h4>You are the group admin</h4>
  You can <a href="/groups/<%= group._id %>/edit">Edit the group name and description.</a>
  <%- include('../partials/groups/delete') %>
  <%- include('../partials/groups/invite') %>
<% }
else{ %>
  <p>Group admin: <%= group.owner.name %> </p>
<% } %> 
<% if (group.owner._id.equals(user._id) && group.invites.length){ %>
  <p>Outstanding invites:
    <%- group.invites.map(e => `<a href="mailto:${e.email}">${e.email}</a>`).join(", ") %> 
  </p>
<% } %>

<%# Only show the new gift list form if the user doesn't have one already %> 
<% if ( ! group.giftLists.some( list => list.user._id.equals(user._id) )){ %> 
  <%- include('../partials/gift-lists/new') %> 
<% } %> 
<%- include('../partials/gift-lists/show', {lists: group.giftLists, user}) %> 

<%- include('../partials/footer') %> 