<form id="edit-group" action="/groups/<%= group._id %>?_method=PUT" method="post">
 
  <div>
    <label for="name" class="input-sizer" data-value="<%= group.name %>">
      <span>Group:</span>
      <textarea required name="name" id="name" oninput="this.parentNode.dataset.value = this.value" rows="1"><%= group.name %></textarea>
    </label>
  </div>

  <div>
    <label for="desc" class="input-sizer" data-value="<%= group.desc %>">
      <span>Description:</span>
      <textarea name="desc" id="desc" oninput="this.parentNode.dataset.value = this.value" rows="1"><%= group.desc %></textarea>
    </label>
  </div>

  <button type="submit">Update</button>

</form>