<% for (let list of lists){ %> 
  <% if (list.user._id.equals(user._id)){ %> 
    <!-- update list form goes inline here? -->
    <div class="gift-list yours">
      <h2>Your list</h2>
      <p><%= list.desc %> </p>
      <ul>
        <% for (let gift of list.gifts){ %> 
          <li>
            <strong><%= gift.name %> </strong> 
            <%= gift.note ? "- "+gift.note : "" %> 
            <%- gift.link ? " - <a href='"+gift.link+"'>Link</a>" : "" %>
          </li>
        <% } %> 
      </ul>
      <%- include('../gifts/new', {list, group})  %> 
    </div>
  <% }
  else{ %> 
    <div class="gift-list others">
      <h2><%= list.user.firstName+"'s list" %> </h2>
      <p><%= list.desc %> </p>
      <ul>
        <% for (let gift of list.gifts){ %> 
          <li class="<%= gift.claimedBy ? 'claimed' : 'free' %>" onclick="this.getElementsByTagName('button')[0].click()">
            <span class="gift-desc">
              <strong><%= gift.name %> </strong> 
              <%= gift.note ? "- "+gift.note : "" %> 
              <%- gift.link ? " - <a href='"+gift.link+"'>Link</a>" : "" %>
            </span>
            <span class="claimed">
              <%- gift.claimedBy ? 
              gift.claimedBy._id.equals(user._id) ? "You're getting this"
              : "Claimed by "+gift.claimedBy.name 
              : include('../gifts/claim', {gift, list, group}) %>
            </span>
          </li>
        <% } %>   
      </ul> 
    </div>
  <% } %> 

<% } %> 